<div ng-controller='HomeCtrl as home'>


    <button class="btn" ng-click="gridMode = !gridMode">Grid Mode</button>

    <table zl-table="home.data" class="table" update="home.update($pagination)" selected-data="home.selected"
           zl-pagination="home.pagination" columns="home.columns" grid-template="gridTemplate" grid-mode="gridMode">
        <thead>
        <tr>
            <th id="favoriteFruit">Favorite Fruit</th>
            <th id="greeting">Greeting</th>
            <th id="friends">Friends</th>
            <th id="tags">Tags</th>
            <th id="longitude">Longitude</th>
            <th id="latitude">Latitude</th>
            <th id="registered">Registered</th>
            <th id="about">About</th>
            <th id="address">Address</th>
            <th id="phone">Phone</th>
            <th id="email">Email</th>
            <th id="company">Company</th>
            <th id="name.first">First Name</th>
            <th id="name.last">Last Name</th>
            <th id="eyeColor">or</th>
            <th id="age">Age</th>
            <th id="picture">Picture</th>
            <th id="balance">Balance</th>
            <th id="isActive">Active</th>
            <th id="guid">guid</th>
            <th id="index">index</th>
            <th id="_id">_id</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{elt.favoriteFruit}}</td>
            <td>{{elt.greeting}}</td>
            <td>{{elt.friends.length}}</td>
            <td>
                <span ng-repeat="tag in elt.tags track by $index" class="label label-info" style="margin:0 1% 0 1%">
                    {{tag}}
                 </span>
            </td>
            <td>{{elt.longitude}}</td>
            <td>{{elt.latitude}}</td>
            <td>{{elt.registered}}</td>
            <td>{{elt.about}}</td>
            <td>{{elt.address}}</td>
            <td>{{elt.phone}}</td>
            <td>{{elt.email}}</td>
            <td>{{elt.company}}</td>
            <td>{{elt.name.first}}</td>
            <td>{{elt.name.last}}</td>
            <td>{{elt.eyeColor}}</td>
            <td>{{elt.age}}</td>
            <td>{{elt.picture}}</td>
            <td>{{elt.balance}}</td>
            <td>{{elt.isActive}}</td>
            <td>{{elt.guid}}</td>
            <td>{{elt.index}}</td>
            <td>{{elt._id}}</td>
        </tr>
        </tbody>
    </table>


    <zl-paginate update="home.update($pagination)" zl-pagination="home.pagination"></zl-paginate>
    <br><span ng-show="home.selected.length">{{home.selected.length}} selected elements </span>


    <script type="text/ng-template" id="gridTemplate">
        <div class="card" style="width:400px; margin-bottom:0; border: none;">
            <div class="card-content">

                <h1>{{elt.name.first}} {{elt.name.last}}</h1>

                <p>{{elt.age}} yo</p>
            </div>
        </div>
    </script>

</div>




